@mixin typewriter($type-duration, $steps) {
    .typewriter-container {
        display: flex;
        // flex-shrink: 1;
    }

    // .typewriter-effect {
    //     flex-shrink: 1;
    // }
    .typewriter-effect h1 {
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: 0.5em solid map-get($theme-colors, primary); /* The typwriter cursor */
        // white-space: nowrap; /* Keeps the content on a single line */
        // margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: 0.1em; /* Adjust as needed */
        animation: home-typing $type-duration steps($steps, end), home-blink-caret 1s step-end infinite;
    }

    /* The typing effect */
    @keyframes home-typing {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }

    /* The typewriter cursor effect */
    @keyframes home-blink-caret {
        from,
        to {
            border-color: transparent;
        }
        50% {
            border-color: map-get($theme-colors, primary);
        }
    }
}
